@*Referece docx: https://github.com/ajsaulsberry/BlipAjax*@

@model Lab.Cascading.Mvc.DropdownList.Models.Category
@{

    <form asp-controller="Demo" asp-action="Index" method="post" role="form">

        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="CategoryName" class="control-label"></label>
                <select asp-for="CategoryID"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofCategory,"CategoryID", "CategoryName"))"></select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">SubCategoryName</label>
                <select class="form-control" id="SubCategoryID" name="SubCategoryID" asp-for="SubCategoryID"
                        asp-items="@(new SelectList(string.Empty,"SubCategoryID", "SubCategoryName"))"></select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">ProductName</label>
                <select class="form-control" id="ProductID" name="ProductID" asp-for="ProductID"
                        asp-items="@(new SelectList(string.Empty,"ProductID", "ProductName"))"></select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input id="Submit" type="Submit" value="Submit"  style="margin-top: 10px;" />
            </div>

        </div>
    </form>

}

@section Scripts {
    <script>
        var pirates = "@ViewBag.Test";
        console.log(pirates);
    </script>
    <script src="~/js/demo.js" asp-append-version="true"></script>
}